
.ed-fa-resize-horizontal:before { content: '\e800'; } /* '' */
.ed-fa-move:before { content: '\e801'; } /* '' */
.ed-fa-cog:before { content: '\e802'; } /* '' */
.ed-fa-trash:before { content: '\e803'; } /* '' */
.ed-fa-pencil:before { content: '\e804'; } /* '' */
.ed-fa-docs:before { content: '\e805'; } /* '' */
