<div class="ed-padding-box__padding-top">
    {{ed-step-number value=paddingTop
        step=paddingStep
        title="Отступ сверху"
        min=0
    }}
</div>
<div class="ed-padding-box__padding-middle">
    {{ed-step-number value=paddingLeft
        step=paddingStep
        title="Отступ слева"
        min=0
    }}
    <div class="ed-padding-box__divider"></div>
    {{ed-step-number value=paddingRight
        step=paddingStep
        title="Отступ справа"
        min=0
    }}
</div>
<div class="ed-padding-box__padding-bottom">
    {{ed-step-number value=paddingBottom
        step=paddingStep
        title="Отступ снизу"
        min=0
    }}
</div>