<table class="ed-placeholder temp {{if active 'active'}}" width="100%"><tbody><tr><td>
	<div class="ed-placeholder-text">
		{{#if active}}
            Отпустите блок
		{{else}}
			Перетащите блок в это место
		{{/if}}
	</div>
</td></tr></tbody></table>